<!DOCTYPE html>
<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <style type="text/css">
     .form-input {
        padding-left: 20px;
      }

      .mdc-data-table__header-cell {
        font-weight: bold;
      }

    </style>
</head>
</br><br>


<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="{% url 'home' %}" class="material-icons" style="color: #ffffff; text-decoration: none;">home</a>
      <span class="mdc-top-app-bar__title" style="font-family: 'Helvetica">
        Vocabulary set: {{ table }}
      </span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button class="mdc-button mdc-top-app-bar__action-item" aria-label="Export">
        <a style="color: #ffffff;" target="_blank" href="{% url 'generate-pdf' table %}">Export Set</a></button>
      <button class="mdc-button mdc-top-app-bar__action-item">
        <a href="{% url 'set-delete' table %}"style="color: #ffffff;">Delete Whole Set</a></button>
    </section>
  </div>
</header>



<br><br><br><br><br><br>

<form class='form-input' method="POST" id="VocabForm">
  {% csrf_token %}
  <input id="word" type="text" placeholder="Type chinese word" name="word">
  <button type="submit" form="VocabForm">Save</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br><br><br><br><br>

<div class="mdc-data-table">
  <div class="mdc-data-table__table-container">
    <table class="mdc-data-table__table" aria-label="Vocabulary table">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Vocabulary</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Phonetic Writing</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">English translation</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="mdc-data-table__content">
        {% if all_item %}
          {% for i in all_item %}
            {% if i.title == table %}
              {% if i.star %}
                <tr class="mdc-data-table__row" style="background-color: #ECEBF9;">
                  <td>
                    <button class="mdc-button" type="submit"><input name="Unstar" type="hidden"/>
                      <a href="{% url 'unstar' i.title i.id %}" style="color: #6929ff; text-decoration: none;">
                      <span class="material-icons mdc-button__icon" aria-hidden="true"><div class="mdc-button__ripple"></div>star</span></a>
                    </button>
                  </td>
                  <th class="mdc-data-table__cell" scope="row" name="word">{{ i.word }}</th>
                  <td class="mdc-data-table__cell" scope="row" name="eng">{{ i.p }}</td>
                  <td class="mdc-data-table__cell" scope="row" name="p">{{ i.eng }}</td>
      
                  <td class="mdc-data-table__cell" scope="row">
                    <button class="mdc-button mdc-button--raised" name="edit">
                      <a href="{% url 'vocab-edit' i.title i.id %}" style="color: #fafafa; text-decoration: none;">
                      <div class="mdc-button__ripple"></div>
                      <i class="material-icons mdc-button__icon" aria-hidden="true">create</i>
                      <span class="mdc-button__label">Edit</span></a>
                    </button> 
                  </td>
                  <td class="mdc-data-table__cell" id="form-input" scope="row">
                    <button class="mdc-button mdc-button--raised" name="delete">
                      <a href="{% url 'vocab-delete' i.title i.id %}" style="color: #fafafa; text-decoration: none;">
                      <div class="mdc-button__ripple"></div>
                      <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
                      <span class="mdc-button__label">Delete</span></a>
                    </button> 
                  </td>
                </tr>
              {% else %}
              <tr class="mdc-data-table__row">
                <td>
                  <button class="mdc-button" type="submit"><input name="Star" type="hidden"/>
                    <a href="{% url 'star' i.title i.id %}" style="color: #6929ff; text-decoration: none;">
                    <span class="material-icons mdc-button__icon" aria-hidden="true"><div class="mdc-button__ripple"></div>star_border</span></a>
                  </button>
                </td>
                <th class="mdc-data-table__cell" scope="row" name="word">{{ i.word }}</th>
                <td class="mdc-data-table__cell" scope="row" name="eng">{{ i.p }}</td>
                <td class="mdc-data-table__cell" scope="row" name="p">{{ i.eng }}</td>
        
                <td class="mdc-data-table__cell" scope="row">
                  <button class="mdc-button mdc-button--raised" name="edit">
                    <a href="{% url 'vocab-edit' i.title i.id %}" style="color: #fafafa; text-decoration: none;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">create</i>
                    <span class="mdc-button__label">Edit</span></a>
                  </button> 
                </td>
                <td class="mdc-data-table__cell" id="form-input" scope="row">
                  <button class="mdc-button mdc-button--raised" name="delete">
                    <a href="{% url 'vocab-delete' i.title i.id %}" style="color: #fafafa; text-decoration: none;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
                    <span class="mdc-button__label">Delete</span></a>
                  </button> 
                </td>
                </tr>
              {% endif %}
            
            {% endif %}
          {% endfor %}        
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

