{% extends 'base.html' %}
{% block content %}
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style type="text/css">
    .form-delete-set {
      padding-left: 10px;
    }
</style>

<form method="POST" class="form-delete-set">
    {% csrf_token %}
    <h2>Do you want to delete the whole vocabulary set: {{ object.slug }}? </h2>
    <p><input type="submit" value='Yes' > <a href='../../'>Cancel</a></p>

</form>
{% endblock %}